#wrap {
	width: 100%;
	height: 100%;
}

.container {
	width: calc(100% - 200px);
	margin: 0 auto;
	height: 100%;

	@media all and (max-width: 1025px) {
		width: 100%;
		padding: 0 15px;
	}

	.gap {
		padding: 0 15px;
	}
}

#header {
	z-index: 3;
	position: fixed;
	width: 100%;
	background: #fff;

	.header {
		display: flex;
		width: 100%;
		height: 100px;
		justify-content: space-between;
		align-items: center;

		@media all and (max-width: 1025px) {
			height: 65px;
		}
		.mobile-btn-box {
			display: none;
			@media all and (max-width: 1025px) {
				display: block;
			}
			.mobile-btn {
				display: block;
				width: 25px;
				height: 20px;
				position: relative;

				.ham {
					position: absolute;
					left: 0;
					display: block;
					width: 100%;
					height: 2px;
					background: #000;

					&.ham1 {
						top: 0;
					}
					&.ham2 {
						top: 50%;
						transform: translateY(-50%);
					}
					&.ham3 {
						bottom: 0;
					}
				}
			}
		}

		.logo {
			width: 100px;

			@media all and (max-width: 1025px) {
				width: auto;
			}

			.logo-img {
				display: block;
				width: 80px;
				height: 36px;
				background: url(../img/sprite_pc.png) no-repeat;
				background-size: 461px 445px;
				background-position: -75px -206px;

				@media all and (max-width: 1025px) {
					width: 56px;
					height: 25px;
					background: url(../img/sprite_mobile@2x.png) no-repeat;
					background-size: 379px 340px;
					background-position: -76px -201px;
				}
			}
		}
		.gnb-nav {
			width: 900px;

			@media all and (max-width: 1280px) {
				width: 600px;
			}
			@media all and (max-width: 1025px) {
				display: none;
			}
			.deps1-wrap {
				display: flex;
				.deps1 {
					width: 20%;
					padding: 39.5px 0;
					position: relative;

					.main-gnb {
						display: block;
						font-size: 18px;
						font-weight: 500;
						transition: color 0.2s, font-weight 0.2s;
						text-align: center;

						&:hover {
							color: #bb0841;
							font-weight: 600;
						}
					}
				}
				.deps2 {
					position: absolute;
					z-index: 1;
					left: 59px;
					top: 100px;
					width: 600px;
					height: 50px;
					background: #f5f5f5;
					display: none;

					@media all and (max-width: 1280px) {
						left: 29px;
					}

					&.deps2-4 {
						left: -350px;
					}

					&::after {
						display: block;
						content: "";
						position: fixed;
						left: 0;
						top: 100px;
						height: 51px;
						width: 100%;
						z-index: -1;
						background: #f5f5f5;
					}

					ul {
						line-height: 50px;
						li {
							display: inline-block;
							margin: 0 20px;

							&:first-of-type {
								margin-left: 0;
							}

							a {
								display: block;
								transition: color 0.3s;
								position: relative;

								.underline {
									position: absolute;
									left: 50%;
									transform: translateX(-50%);
									display: block;
									width: 0;
									height: 2px;
									background: #bb0841;
									transition: width 0.3s;
								}
								&:hover {
									color: #bb0841;

									.underline {
										width: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
		.translate-box {
			// width: 118px;
			flex-shrink: 0;
			@media all and (max-width: 1025px) {
				width: auto;
				flex-shrink: 1;
			}
			ul {
				display: flex;
				align-items: center;
				li {
					position: relative;

					&:nth-child(1) {
						&::after {
							display: block;
							content: "";
							position: absolute;
							right: 0;
							top: 50%;
							transform: translateY(-50%);
							width: 1px;
							height: 23px;
							background: #dbdbdb;
						}
						@media all and (max-width: 1025px) {
							display: none;
						}
					}

					&:nth-child(2) {
						padding-left: 20px;

						@media all and (max-width: 1025px) {
							padding: 0;
						}
					}
					.btn-wrap {
						// width: 68px;
						padding-right: 20px;

						&.on {
							border: 1px solid #dbdbdb;

							.eng {
								display: block;
							}
							.language {
								&.kor {
									&::after {
										background-position: -383px -388px;
									}
								}
							}
						}
						.language {
							display: block;
							position: relative;
							font-size: 15px;
							padding: 10px;
							padding-right: 0;
							background: transparent;
							color: #000;
							cursor: pointer;
							&.kor {
								&::after {
									display: inline-block;
									content: "";
									background: url(../img/sprite_pc.png) no-repeat;
									width: 12px;
									height: 8px;
									background-position: -191px -388px;
									background-size: 461px 445px;
									margin-left: 5px;
								}
							}
						}
						.eng-wrap {
							display: none;
							width: 100%;
							.eng {
								display: block;
							}
						}
					}
					.link-btn {
						display: block;
						width: 32px;
						height: 28px;
						background: url(../img/sprite_pc.png) no-repeat;
						background-position: -232px -156px;
						background-size: 461px 445px;

						@media all and (max-width: 1025px) {
							width: 21px;
							height: 20px;
							background: url(../img/sprite_mobile@2x.png) no-repeat;
							background-position: -285px -192px;
							background-size: 379px 340px;
						}
					}
				}
			}
		}
	}
	.mobile-gnb-menu {
		z-index: 5;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: #fff;
		overflow-y: scroll;
		display: none;

		.top-logo-box {
			padding: 15px;
			.close-btn-box {
				text-align: right;
				ul {
					li {
						display: inline-block;
						position: relative;

						&:nth-child(1) {
							vertical-align: top;
							.btn-wrap {
								height: 60px;
								.eng-wrap {
									display: none;
								}
								&.on {
									border: 1px solid #ddd;
								}
							}
							.m-language {
								background: transparent;
								padding: 7px;
								font-size: 14px;
								font-weight: 600;
								cursor: pointer;

								&.kor {
									&::after {
										display: inline-block;
										content: "";
										background: url(../img/sprite_mobile@2x.png) no-repeat;
										width: 10px;
										height: 7px;
										background-position: -156px -324px;
										background-size: 379px 340px;
										margin-left: 8px;
									}
								}
								&.eng {
									padding-top: 0;
									display: block;
									text-align: left;
								}
							}
						}
						&:nth-child(2) {
							margin-top: 7px;
							padding-left: 10px;
							&::before {
								display: block;
								content: "";
								position: absolute;
								left: 0;
								top: 50%;
								transform: translateY(-50%);
								width: 1px;
								height: 20px;
								background: #dbdbdb;
							}
						}
						.mgnb-closeBtn {
							display: block;
							width: 20px;
							height: 20px;
							font-size: 0;
							background: url(../img/sprite_mobile@2x.png) no-repeat;
							background-size: 379px 340px;
							background-position: -38px -283px;
						}
					}
				}
			}
			.mobile-logo-box {
				width: 100%;
				text-align: center;
				margin-bottom: 30px;

				.mGnb-logo {
					display: block;
					width: 86px;
					height: 38px;
					margin: 0 auto;
					background: url(../img/sprite_mobile@2x.png) no-repeat;
					background-size: 379px 340px;
					background-position: 0 -80px;
				}
			}
		}
		.bottom-gnb-box {
			width: 100%;

			> ul {
				> li {
					border-top: 1px solid #dbdbdb;

					.mobile-gnbBtn {
						display: block;
						position: relative;
						width: 100%;
						padding: 18px 0;
						font-size: 17px;
						font-weight: 500;
						text-indent: 20px;
						color: #000;

						&.active {
							background: #bb0841;
							color: #fff;

							&::after {
								background-position: -259px -285px;
								background-size: 379px 340px;
							}
						}

						&::after {
							display: block;
							content: "";
							position: absolute;
							top: 50%;
							right: 20px;
							transform: translateY(-50%);
							width: 17px;
							height: 10px;
							background: url(../img/sprite_mobile@2x.png) no-repeat;
							background-position: -296px -285px;
							background-size: 379px 340px;
						}
					}
					.mobile-lnb-wrap {
						display: none;
						width: 100%;
						background-color: #f5f5f5;
						padding: 10px 0;
						ul {
							li {
								&:last-child {
									a {
										border-bottom: none;
									}
								}
								padding: 0 20px;
								a {
									display: block;
									padding: 15px 0;
									border-bottom: 1px solid #dbdbdb;
								}
							}
						}
					}
				}
			}
		}
	}
}
//header

#main {
	z-index: 2;
	position: relative;
	width: 100%;
}
//메인 슬라이드 섹션
#main-image-section {
	padding-top: 100px;
	height: 100vh;

	.main-image-box {
		height: 100%;
		background: #000;
		.mainImg-wrap {
			width: 100%;
			height: 100%;
			position: relative;

			.mainImg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: url(../img/mainimg1.jpg) no-repeat center;
				background-size: cover;

				&.img1 {
					z-index: 4;
				}
				@for $i from 1 through 4 {
					&.img#{$i} {
						background-image: url(../img/mainimg#{$i}.jpg);
					}
				}
			}
		}
	}
}
#media-section {
	padding: 100px 0;
	.media-content {
		max-width: 1200px;
		width: 100%;
		margin: auto;

		.title-box {
			width: 100%;

			h2 {
				display: inline-block;
				font-size: 60px;
				color: #000;
				position: relative;

				&::after {
					display: block;
					content: "";
					position: absolute;
					right: -20px;
					bottom: 0;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background: #bb0841;
				}
			}
		}
		.top-media-box {
			margin: 0 auto;
			margin-bottom: 20px;

			ul {
				width: 100%;
				display: flex;
				justify-content: space-between;

				li {
					width: 49%;
					a {
						display: block;
						width: 100%;

						img {
							display: block;
							width: 100%;
						}
					}
				}
			}
		}
		.bottom-news-box {
			position: relative;
			.news-wrap {
				display: flex;
				width: 300%;
				justify-content: space-between;
				li {
					width: 285px;
					margin-right: 20px;
					border: 1px solid #dbdbdb;

					&:nth-child(4n) {
						margin-right: 0;
					}
					a {
						display: block;

						.news-img {
							width: 100%;
							img {
								display: block;
								width: 100%;
							}
						}
						.news-text {
							width: 100%;
							height: 140px;
							padding: 25px;
							h3 {
								margin: 0;
								font-size: 18px;
								color: #bb0841;
							}
							p {
								font-size: 20px;
								color: #000;
								font-weight: bold;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: normal;
								-webkit-line-clamp: 2;
								display: -webkit-box;
								-webkit-box-orient: vertical;
								margin: 0;
								padding-top: 15px;
							}
						}
					}
				}
			}
			.swiper-button-prev {
				&.custom {
					left: -50px;

					@media all and (max-width: 1025px) {
						left: 0;
					}
				}
			}
			.swiper-button-next {
				&.custom {
					right: -50px;
					@media all and (max-width: 1025px) {
						right: 0;
					}
				}
			}
			.swiper-pagination {
				&.custom {
					bottom: -30px;
				}
			}
		}
	}
}
